<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Blog list</h1>
<p>
    <a href="/blogs/create"> Add new Blog</a>
</p>
<fieldset>
    <legend>Blog information</legend>
    <table border="1">
        <tr>
            <td>STT</td>
            <td>Name</td>
            <td>Number of page</td>
            <td>Content</td>
            <td>Edit</td>
            <td>Delete</td>
        </tr>
        <th:block th:each="list, status:${lists}">
            <tr>
                <td th:text="${status.count}"></td>
                <td th:text="${list.title}"></td>
                <td th:text="${list.numberPage}"></td>
                <td th:text="${list.content}"></td>
                <td><a th:href="@{/blogs/edit/{id}/(id=${list.id})}" >edit</a></td>
                <td><a th:href="@{/blogs/delete/{id}/(id=${list.id})}" >delete</a></td>
            </tr>
        </th:block>
    </table>
</fieldset>
</body>
</html>