<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Book list</h1>
<p>
    <a href="/books/create"> Add new Blog</a>
</p>
<form action="/books" method="get">
    <input type="text" name="searchName">
    <input type="submit" value="Search">
</form>
<th:block th:each="list : ${categoryList}">
    <input type="button" th:value="${list.categoryName}" name="categoryName">
</th:block>
<fieldset>
    <legend>Blog information</legend>
    <table border="1">
        <tr>
            <td>STT</td>
            <td>Name</td>
            <td>Number of page</td>
            <td>Category</td>
            <td></td>

        </tr>
        <th:block th:each="bookList,status:${bookList}">
            <tr>
                <td th:text="${status.count}"></td>
                <td th:text="${bookList.name}"></td>
                <td th:text="${bookList.quantity}"></td>
                <td th:text="${bookList.category.categoryName}"></td>
                <td><a role="button" th:href="@{/books/detail/{id}/(id=${bookList.id})}">Rent</a></td>
            </tr>
        </th:block>
    </table>
    <div align="center">
        <a th:if="${bookList.hasPrevious()}" th:href="@{/books(page=${bookList.number-1})}">Trước</a>
        <span th:text="${bookList.number+1}"></span>/<span th:text="${bookList.totalPages}"></span>
        <a th:if="${bookList.hasNext()}" th:href="@{/books(page=${bookList.number+1})}">Sau</a>
    </div>
</fieldset>
</body>
</html>