<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        div {
            display: flex;
            justify-content: center;
        }

        table, tr, td {
            border-collapse: collapse;
            border: 0px solid red;
        }
    </style>
</head>
<body>
<div>
    <fieldset style="width: 30%">
        <legend>Product Information</legend>
        <form action="/product/create" method="post" th:object="${product}">
            <table>
                <tr>
                    <td>Id</td>
                    <td><input type="hidden" th:field="*{id}" ></td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td><input th:field="*{name}" required></td>
                </tr>
                <tr>
                    <td>Price</td>
                    <td><input th:field="*{price}" required></td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td><input th:field="*{description}" required></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Save"></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" th:href="@{product/list}" value="Back to product list"> </td>
                </tr>
            </table>
        </form>
    </fieldset>
</div>
</body>
</html>