<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>User list</h1>
<a href="/users/create">Create new User</a>
<fieldset>
    <legend>User Info</legend>
    <table style="border: 1px">
        <tr>
            <td>STT</td>
            <td>First Name:</td>
            <td>Last Name:</td>
            <td>Phone Number:</td>
            <td>Age:</td>
            <td>Email:</td>
            <td>Edit:</td>
            <td>Delete:</td>
        </tr>
        <th:block th:each="list,status : ${list}">
            <tr>
                <td th:text="${status.count}"></td>
                <td th:text="${list.firstName}"></td>
                <td th:text="${list.lastName}"></td>
                <td th:text="${list.phoneNumber}"></td>
                <td th:text="${list.age}"></td>
                <td th:text="${list.email}"></td>
                <td><input type="button"  th:href="@{/users/edit/{id}(id=${list.id})}">Edit</td>
                <td><input type="button"  th:href="@{/users/delete/{id}(id=${list.id})}">delete</td>
            </tr>
        </th:block>
    </table>
</fieldset>
</body>
</html>